PrimaryColor = #037be4
PrimaryColorLight = #e9f8ff
PrimaryTextColor = rgba(#000, .6)
PrimaryTextColorLight = rgba(#fff, .8)
SecondaryTextColor = rgba(#000, .5)
HintTextColor = rgba(#000, .2)
DividerColor = rgba(#000, .1)
BorderRadius = 3px
DefaultBorder = 1px solid DividerColor
DefaultTransition()
  transition all .3s cubic-bezier(.55,0,.1,1)
